html, body {margin: 0;}

@font-face {
    font-family: 'Imperfecta';
    src: url('/imperfecta/Imperfecta.ttf');
}

@font-face {
    font-family: 'Bignoo';
    src: url('/bignoo/bignoo.ttf');
}


.bandeau1
{
    background-color:#D5D5D5;
    height: 50px;
    padding-right: 10%;

}

.co
{
    width: 30%;
    text-align: center;
    background-color: white;
    color : #535353;
    font-size: 22px;
    font-family: Imperfecta;
    margin: 0;
    line-height: 50px;
    position: relative;
    left: 75%;
}

.bandeauclair
{
    background-color: #E4E4E4;
    height: 130px;
    
}

.alcoolique
{
    color: #003CA4; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 29px;
    margin: 0;
    width: 373px;
    height: 278px;
    padding-top: 30px;
    text-align: center;
    position: relative;
    left: 45%;

}

.alexis
{
    right: -85px;
    position: absolute;
    top: 3px;
    width: 124px;
    height: 124px;
}

.bandeaubleu
{
    background-color: #72C9C1;
    height: 40px;
}

.logo
{
    width: 30%;
    max-width: 362px;;
    height: 25%;
    left: 40px;
    position: absolute;
    top:  -11px
    
    
}

.titreactus
{
    color: #003CA4;
    position: relative;
    left: 20%;
    font-family: Imperfecta;
    font-size: 45px;
}

.actu1, .actu2
{
    display: flex;
    justify-content: center;
}

img
{
    width: 571px;
    height: 342px;
}

p
{
    color: #003CA4;
    margin: 0;
    font-size: 39px;
    line-height: 47px;
    padding-top: 65px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    
}
.actu
{
    background-color: #E4E4E4;
    width: 373px;
    height: 278px;
}

.titreventes
{
    color: #003CA4;
    font-family: Imperfecta;
    font-size: 45px;
    text-align: center;
}

.ventes
{

    display: flex;
    justify-content: space-evenly;
}



.vinb
{
    height: 432px;
    width: 114px;
}

.vinrg
{
    height: 450px;
    width: 150px;
}

.vinro
{
    height: 463px;
    width: 150px;
}

.detailvins
{
    display: flex;
    justify-content: space-evenly;
}

h5
{
    font-family: Imperfecta;
    color: white;
    text-align: right;
}